@media screen and (min-width:600px) {
    #header{
        background-image: url(img/banner.jpg);
    }
    #nav{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    #content{
        display: flex;
    }
    content > div {
        margin: 10px;
        padding: 50px;
        font-size: 12px;
      }
    #footer{
        text-align: center;
    }
}
@media screen and (max-width:599px) {
    #header{
        background-color: aliceblue;
    }
    #nav{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    #content{
        display: flex;
        flex-wrap: wrap;
    }
    content > div {
        margin: 10px;
        padding: 50px;
        font-size: 12px;
      }
    #footer{
        text-align: center;
    }
}
    

