body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 10px;
}
#body {
    background-color: rgb(97, 96, 96);
    padding: 5px;
    color: aliceblue;
}
h1, h4 {
    color: rgb(124, 209, 209);
}
span {
    color: yellow;
}
img {
    border-radius: 20px;
    height: 100px;
    width: 100px;
}